<h1>Listing messages</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Text</th>
    <th>Receiver</th>
    <th>Sender</th>
    <th>New?</th>
    <th>Replied?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.subject %></td>
    <td><%= message.text %></td>
    <td><%= User.find(message.recipient_id).username %></td>
    <td><%= User.find(message.user_id).username %></td>
	<td><%= message.unread %></td>
	<td><%= message.replied_to %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
