<%= form_for(@quarter) do |f| %>
  <% if @quarter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quarter.errors.count, "error") %> prohibited this quarter from being saved:</h2>

      <ul>
      <% @quarter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
  Term:</br>
  <%= select(:quarter, :term, ['Fall 2012', 'Winter 2013', 'Spring 2013', 'Other']) %>
  </div></br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
