<body class="main">
<div id="about_wrapper">

<h1>Welcome to HillHeroes.com!</h1>
</br>

	<p>My name is Matt Dick (like the appendage).  I lived on the Hill for 5 years, 3 of those years as an RA.  The concept for HillHeroes.com was born in September, 2011 from the minds of me and my RA counterpart, Erik Hilkey.  Initially, the plan was to generate a subtle chaos on the Hill by providing its residents with the inside scoop on policy enforcement and how to break rules while avoiding trouble.  Back then, Erik and I were the “Hill Heroes,” out to save the Hill from boredom and the iron first of ORL.  And while <%= link_to "that content is available within this site", "/forums/forums/1" %>, HillHeroes.com has evolved and gained more utility while at the same time shifting the spotlight from ourselves to the real Hill Heroes: you, the residents of the Hill.  You are the Hill Heroes because with each new textbook listing and forum post, you are making Hill life more enjoyable.  Below, you will discover the functionality that has been added to the site.  If you like what you see, be sure to <%= link_to "become a Hill Hero", new_user_registration_path %> and set up your profile (a 60 second endeavor) to continue making this site as effective as possible.</p>

<h3>Community and Collaboration</h3>

	<p>The Hill is packed with the best and brightest individuals in California and beyond.  Everyone has their own stories, wisdom, and inside information for the sharing, but after those first couple weeks, students become busy and comfortable inside their bubble of friends, cutting themselves off from all there is to gain from the bright people around them.  That being said, HillHeroes.com has been set up with a forum for Hill residents to communicate and share information with one another.  Take a look through the <%= link_to "forum", forem.forums_path %> to get a feel for the sort of information that is being created every day.</p>


<h3>Textbooks</h3>

	<p>The textbook market is gigantic, and the internet provides plenty of ways to buy and sell books.  Hill Heroes does it better.</p>

	<ul>
		<li>RELEVENCE: The population of the Hill is predominantly first and second year students all taking the same lower division courses at different times.  By spring quarter, an army of textbook and course reader clones will have amassed, two-thirds of which sit in bookshelves to convince your folks you are actually working when they visit.  Finding exactly the book you need in the <%= link_to "textbook exchange", find_books_path %> is easy because it was likely <em>just used for the same class you’ll be taking</em>.  And unless your professor wrote the book and enjoys stealing money from his students, the edition probably hasn’t changed from the last quarter.</li></br>

		<li>CONVENIECE: The <%= link_to "textbook exchange", find_books_path %> allows you to find textbooks and course readers as sorted by UCLA specific classes.  Furthermore, the building of the book seller is available in the <%= link_to "textbook exchange", find_books_path %>.  Buying a textbook could be as easy as walking down the Hill or even up a flight of stairs!</li></br>
		 
		<li>FREE: Yes, listing your textbooks in the exchange does not cost you a dime.</li>
	</ul>

<h3>Suggestions/Comments</h3>

	<p>The goal of this site is to provide tools necessary for residents of the Hill to have as positive an experience living here as possible.  There is a <%= link_to "forum for comments and suggestions", "/forums/forums/6" %> as they relate to this site and I encourage anyone and everyone to pitch in and share their ideas to make for a better user experience here at HillHeroes.com.</p>

</br>

<div id="ending">
	Thanks for reading,</br>
		Matt Dick
</div>

</div>
</body>
