<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hill Heroes</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
td img {display: block;}.site_description {
	background-image: url(homepage_r11_c2_s1.gif);
	background-repeat: repeat-y;
}
#hot_topics {
	background-image: url(homepage_r15_c3_s1.gif);
	background-repeat: repeat-y;
}
.hot_topics {
	background-image: url(homepage_r15_c3_s1.gif);
	background-repeat: repeat-y;
}
.building_leaders {
	background-image: url(homepage_r12_c14_s1.gif);
	background-repeat: repeat-y;
}
.top_contributors {
	background-image: url(homepage_r14_c13_s1.gif);
	background-repeat: repeat-y;
}
</style>
<!--Fireworks CS5 Dreamweaver CS5 target.  Created Mon Jul 23 01:49:22 GMT-0700 (Pacific Daylight Time) 2012-->
<script language="JavaScript1.2" type="text/javascript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_nbGroup(event, grpName) { //v6.0
var i,img,nbArr,args=MM_nbGroup.arguments;
  if (event == "init" && args.length > 2) {
    if ((img = MM_findObj(args[2])) != null && !img.MM_init) {
      img.MM_init = true; img.MM_up = args[3]; img.MM_dn = img.src;
      if ((nbArr = document[grpName]) == null) nbArr = document[grpName] = new Array();
      nbArr[nbArr.length] = img;
      for (i=4; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
        if (!img.MM_up) img.MM_up = img.src;
        img.src = img.MM_dn = args[i+1];
        nbArr[nbArr.length] = img;
    } }
  } else if (event == "over") {
    document.MM_nbOver = nbArr = new Array();
    for (i=1; i < args.length-1; i+=3) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = (img.MM_dn && args[i+2]) ? args[i+2] : ((args[i+1])?args[i+1] : img.MM_up);
      nbArr[nbArr.length] = img;
    }
  } else if (event == "out" ) {
    for (i=0; i < document.MM_nbOver.length; i++) { img = document.MM_nbOver[i]; img.src = (img.MM_dn) ? img.MM_dn : img.MM_up; }
  } else if (event == "down") {
    nbArr = document[grpName];
    if (nbArr) for (i=0; i < nbArr.length; i++) { img=nbArr[i]; img.src = img.MM_up; img.MM_dn = 0; }
    document[grpName] = nbArr = new Array();
    for (i=2; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = img.MM_dn = (args[i+1])? args[i+1] : img.MM_up;
      nbArr[nbArr.length] = img;
  } }
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

//-->
</script>
</head>

<body bgcolor="#ffffff" onload="MM_preloadImages('homepage_r2_c2_s2.gif','homepage_r2_c2_s4.gif','homepage_r2_c2_s3.gif','homepage_r3_c2_s2.gif','homepage_r3_c2_s4.gif','homepage_r3_c2_s3.gif','homepage_r3_c4_s2.gif','homepage_r3_c4_s4.gif','homepage_r3_c4_s3.gif','homepage_r3_c7_s2.gif','homepage_r3_c7_s4.gif','homepage_r3_c7_s3.gif','homepage_r3_c8_s2.gif','homepage_r3_c8_s4.gif','homepage_r3_c8_s3.gif','homepage_r3_c11_s2.gif','homepage_r3_c11_s4.gif','homepage_r3_c11_s3.gif','Spotted_on_Bruinwalk_s2.gif','Spotted_on_Bruinwalk_s4.gif','Spotted_on_Bruinwalk_s3.gif','Menu_s2.gif','Menu_s4.gif','Menu_s3.gif','Forum_s2.gif','Forum_s4.gif','Forum_s3.gif','Calendar_s2.gif','Calendar_s4.gif','Calendar_s3.gif');">
<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="861">
<!-- fwtable fwsrc="homepage.png" fwpage="Page 1" fwbase="homepage.gif" fwstyle="Dreamweaver" fwdocid = "8255782" fwnested="0" -->
  <tr>
   <td><img src="spacer.gif" width="41" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="8" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="65" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="112" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="12" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="29" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="138" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="19" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="12" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="80" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="51" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="49" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="7" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="11" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="54" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="125" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="7" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="40" height="1" border="0" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>

  <tr>
   <td colspan="19"><img name="homepage_r1_c1_s1" src="homepage_r1_c1_s1.gif" width="861" height="27" border="0" id="homepage_r1_c1_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="27" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="16"><img name="homepage_r2_c1_s1" src="homepage_r2_c1_s1.gif" width="41" height="1092" border="0" id="homepage_r2_c1_s1" alt="" /></td>
   <td colspan="17"><a href="javascript:;" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','homepage_r2_c2_s1','homepage_r2_c2_s2.gif','homepage_r2_c2_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','homepage_r2_c2_s1','homepage_r2_c2_s3.gif',1);"><img name="homepage_r2_c2_s1" src="homepage_r2_c2_s1.gif" width="780" height="140" border="0" id="homepage_r2_c2_s1" alt="" /></a></td>
   <td rowspan="16"><img name="homepage_r2_c19_s1" src="homepage_r2_c19_s1.gif" width="40" height="1092" border="0" id="homepage_r2_c19_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="140" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="2"><a href="javascript:;" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','homepage_r3_c2_s1','homepage_r3_c2_s2.gif','homepage_r3_c2_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','homepage_r3_c2_s1','homepage_r3_c2_s3.gif',1);"><img name="homepage_r3_c2_s1" src="homepage_r3_c2_s1.gif" width="73" height="29" border="0" id="homepage_r3_c2_s1" alt="" /></a></td>
   <td colspan="3"><a href="javascript:;" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','homepage_r3_c4_s1','homepage_r3_c4_s2.gif','homepage_r3_c4_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','homepage_r3_c4_s1','homepage_r3_c4_s3.gif',1);"><img name="homepage_r3_c4_s1" src="homepage_r3_c4_s1.gif" width="153" height="29" border="0" id="homepage_r3_c4_s1" alt="" /></a></td>
   <td><a href="javascript:;" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','homepage_r3_c7_s1','homepage_r3_c7_s2.gif','homepage_r3_c7_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','homepage_r3_c7_s1','homepage_r3_c7_s3.gif',1);"><img name="homepage_r3_c7_s1" src="homepage_r3_c7_s1.gif" width="138" height="29" border="0" id="homepage_r3_c7_s1" alt="" /></a></td>
   <td colspan="3"><a href="javascript:;" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','homepage_r3_c8_s1','homepage_r3_c8_s2.gif','homepage_r3_c8_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','homepage_r3_c8_s1','homepage_r3_c8_s3.gif',1);"><img name="homepage_r3_c8_s1" src="homepage_r3_c8_s1.gif" width="111" height="29" border="0" id="homepage_r3_c8_s1" alt="" /></a></td>
   <td colspan="6"><a href="javascript:;" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','homepage_r3_c11_s1','homepage_r3_c11_s2.gif','homepage_r3_c11_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','homepage_r3_c11_s1','homepage_r3_c11_s3.gif',1);"><img name="homepage_r3_c11_s1" src="homepage_r3_c11_s1.gif" width="173" height="29" border="0" id="homepage_r3_c11_s1" alt="" /></a></td>
   <td rowspan="5" colspan="2"><img name="homepage_r3_c17_s1" src="homepage_r3_c17_s1.gif" width="132" height="50" border="0" id="homepage_r3_c17_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="29" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="15"><img name="homepage_r4_c2_s1" src="homepage_r4_c2_s1.gif" width="648" height="18" border="0" id="homepage_r4_c2_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="18" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="4"><img name="homepage_r5_c2_s1" src="homepage_r5_c2_s1.gif" width="197" height="2" border="0" id="homepage_r5_c2_s1" alt="" /></td>
   <td rowspan="5" colspan="3"><a href="http://spottedonbruinwalk.com/" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','Spotted_on_Bruinwalk_s1','Spotted_on_Bruinwalk_s2.gif','Spotted_on_Bruinwalk_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','Spotted_on_Bruinwalk_s1','Spotted_on_Bruinwalk_s3.gif',1);"><img name="Spotted_on_Bruinwalk_s1" src="Spotted_on_Bruinwalk_s1.gif" width="186" height="122" border="0" id="Spotted_on_Bruinwalk_s1" alt="" /></a></td>
   <td colspan="8"><img name="homepage_r5_c9_s1" src="homepage_r5_c9_s1.gif" width="265" height="1" border="0" id="homepage_r5_c9_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="5"><img name="homepage_r6_c9_s1" src="homepage_r6_c9_s1.gif" width="12" height="159" border="0" id="homepage_r6_c9_s1" alt="" /></td>
   <td rowspan="4" colspan="5"><a href="http://menu.ha.ucla.edu/foodpro/default.asp" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','Menu_s1','Menu_s2.gif','Menu_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','Menu_s1','Menu_s3.gif',1);"><img name="Menu_s1" src="Menu_s1.gif" width="188" height="121" border="0" id="Menu_s1" alt="" /></a></td>
   <td rowspan="2" colspan="2"><img name="homepage_r6_c15_s1" src="homepage_r6_c15_s1.gif" width="65" height="2" border="0" id="homepage_r6_c15_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="3"><a href="forums" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','Forum_s1','Forum_s2.gif','Forum_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','Forum_s1','Forum_s3.gif',1);"><img name="Forum_s1" src="Forum_s1.gif" width="185" height="119" border="0" id="Forum_s1" alt="" /></a></td>
   <td rowspan="4"><img name="homepage_r7_c5_s1" src="homepage_r7_c5_s1.gif" width="12" height="158" border="0" id="homepage_r7_c5_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="4"><img name="homepage_r8_c15_s1" src="homepage_r8_c15_s1.gif" width="11" height="199" border="0" id="homepage_r8_c15_s1" alt="" /></td>
   <td rowspan="2" colspan="3"><a href="https://www.orl.ucla.edu/events" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','Calendar_s1','Calendar_s2.gif','Calendar_s4.gif',1);" onclick="MM_nbGroup('down','navbar1','Calendar_s1','Calendar_s3.gif',1);"><img name="Calendar_s1" src="Calendar_s1.gif" width="186" height="119" border="0" id="Calendar_s1" alt="" /></a></td>
   <td><img src="spacer.gif" width="1" height="118" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="3"><img name="homepage_r9_c2_s1" src="homepage_r9_c2_s1.gif" width="185" height="39" border="0" id="homepage_r9_c2_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="3"><img name="homepage_r10_c6_s1" src="homepage_r10_c6_s1.gif" width="186" height="38" border="0" id="homepage_r10_c6_s1" alt="" /></td>
   <td colspan="5"><img name="homepage_r10_c10_s1" src="homepage_r10_c10_s1.gif" width="188" height="38" border="0" id="homepage_r10_c10_s1" alt="" /></td>
   <td rowspan="2" colspan="3"><img name="homepage_r10_c16_s1" src="homepage_r10_c16_s1.gif" width="186" height="80" border="0" id="homepage_r10_c16_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="38" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="10" rowspan="2" valign="top" class="site_description">
   
   Welcome to Hill Heroes, your ultimate resource for living on The Hill!</br></br>
   Hill Heroes was made FOR students BY students with the intention of making The Hill our own.  Contained herein, you'll find answers to many frequently asked quiestions...
   
   </td>
   
   <td colspan="3"><img name="homepage_r11_c12_s1" src="homepage_r11_c12_s1.gif" width="57" height="42" border="0" id="homepage_r11_c12_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="42" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="2"><img name="homepage_r12_c12_s1" src="homepage_r12_c12_s1.gif" width="50" height="335" border="0" id="homepage_r12_c12_s1" alt="" /></td>
   <td colspan="4" valign="top" class="building_leaders">
   
   <%= render :partial => "/navigation/building_leaders" %>
   
   </td>
   <td rowspan="6"><img name="homepage_r12_c18_s1" src="homepage_r12_c18_s1.gif" width="7" height="703" border="0" id="homepage_r12_c18_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="264" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="10"><img name="homepage_r13_c2_s1" src="homepage_r13_c2_s1.gif" width="526" height="73" border="0" id="homepage_r13_c2_s1" alt="" /></td>
   <td colspan="4"><img name="homepage_r13_c14_s1" src="homepage_r13_c14_s1.gif" width="197" height="71" border="0" id="homepage_r13_c14_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="71" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="4"><img name="homepage_r14_c12_s1" src="homepage_r14_c12_s1.gif" width="49" height="368" border="0" id="homepage_r14_c12_s1" alt="" /></td>
   <td colspan="5" rowspan="2" valign="top" class="top_contributors">
   
   <%= render :partial => "/navigation/top_posters" %>
   
   </td>
   <td><img src="spacer.gif" width="1" height="2" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="3"><img name="homepage_r15_c2_s1" src="homepage_r15_c2_s1.gif" width="8" height="366" border="0" id="homepage_r15_c2_s1" alt="" /></td>
   <td colspan="9" rowspan="2" valign="top" class="hot_topics">
   
   <%= render :partial => "/navigation/newest_topics" %>
   
   </td>   
   <td><img src="spacer.gif" width="1" height="198" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="5"><img name="homepage_r16_c13_s1" src="homepage_r16_c13_s1.gif" width="198" height="168" border="0" id="homepage_r16_c13_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="125" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="9"><img name="homepage_r17_c3_s1" src="homepage_r17_c3_s1.gif" width="518" height="43" border="0" id="homepage_r17_c3_s1" alt="" /></td>
   <td><img src="spacer.gif" width="1" height="43" border="0" alt="" /></td>
  </tr>
</table>
</body>


<div align="center">
<%= link_to "New Topics", main_app.newest_topics_path %> |
<%= link_to "Hot Topics", main_app.hot_topics_path %> |
<%= link_to "Building Leaders", main_app.building_leaders_path %> |
<%= link_to "Top Posters", main_app.top_posters_path %> |
<%= link_to "User Index", main_app.users_path %> |
<%= link_to "Building Index", main_app.buildings_path %> |
<%= link_to "Home" %>
</div>
</html>
